:root {
    --font-color: #ddd;
    --bg-color: #111;
    --border-color: #333;
    --sky: linear-gradient(360deg, #4fbef1 0%, #1e6485 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    display: grid;
    place-items: center;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    height: 100vh;
}

main {
    position: relative;
    display: grid;
    place-items: center;
}

#canvas_game {
    border: .25rem solid var(--border-color);
}

#canvas_mobile {
    display: none;
}

@media(max-width: 768px) {
    body {
        min-height: 100vh;
        height: auto;
    }
}